/*GENERAL*/

:root {
    --color-one: black;
    --color-two: yellow;
    --color-three: silver;
    --color-four: rgb(99, 99, 99);
    --color-five: rgb(38, 38, 38);
    --color-six: rgb(78, 206, 144);
    --color-seven: gainsboro;
    scrollbar-color: #0a4c95 #c2d2e4;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

*,
*:before,
*:after {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

img[src=""] {
    display: none;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

html,
body {
    font-family: "Lato-Regular";
    font-weight: 100;
    width: 100vw;
    max-width: 100vw;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.4rem;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

h1 {
    font-size: 1rem;
}

img {
    max-width: 90vw;
    height: auto;
    display: block;
}

.debug {
    outline: 1px solid red;
}

video {
    width: 300px;
    height: 300px;
    outline: 2px solid red;
    position: fixed;
}

#qr-screen {
    display: none;
}


/*///////////////////////////
///HELPER////////////////*/

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    background: black;
    color: white;
    z-index: 5000;
    min-width: 100%;
    padding: 5px;
}


/*///////////////////////////
///APPS////////////////*/

div#app {
    position: relative;
    background: white;
    padding: 5px;
    color: black;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    font-weight: normal;
    margin: 5px 0 0 0;
}


/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
    position: fixed;
    z-index: 2000;
    bottom: 10px;
    left: 0px;
    height: 15px;
    z-index: 2;
    background: black;
}

div#bottom-bar div#inner {
    position: relative;
}

div#bottom-bar div {
    background: black;
    color: white;
    padding: 2px;
}

div#bottom-bar div#button-center {
    background: black;
    color: white;
    padding: 2px;
    width: 30%;
    text-align: center;
}

div#bottom-bar div#button-left {
    background: black;
    color: white;
    padding: 2px;
    width: 20px;
    text-align: left;
    width: 30%;
}

div#bottom-bar div#button-right {
    background: black;
    color: white;
    padding: 2px;
    width: 30%;
    text-align: right;
}

@keyframes example {
    from {
        left: 30%;
        top: 40%;
    }
    to {
        left: 200px;
        top: 300px;
    }
}

@keyframes example2 {
    from {
        left: 30%;
        top: 40%;
    }
    to {
        left: -100px;
        top: 300px;
    }
}

@keyframes example3 {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}


/*////////////////////////
////Loading bar////////
//////////////////////*/

div#loading {
    height: 10px;
    width: 100vw;
    background: pink;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
}


/* KaiOS landscape devices (320x240) */

@keyframes loading {
    from {
        background-color: blue;
        width: 10px;
    }
    to {
        background-color: yellow;
        width: 100vw;
    }
}